

.button-container{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    width: max-content;
}

.at-button {
    border: none;
    border-radius: 4px;
    padding: 15px 30px;
    margin: 5px;
    font-size: 16px;
    transition: background-color 0.8s ease-in-out;
    background-color: rgb(4, 165, 229);
    color: white;
}

.at-button:hover {
    filter: brightness(95%);
    cursor: pointer;
}